@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 700px;
  overflow: hidden;
}

.left_div {
  background-image: url(../images/bg-main-desktop.png);
  background-size: cover;
  width: 40%;
  height: 900px;
  position: relative;
}

#cardFront {
  position: absolute;
  left: 300px;
  top: 110px;
  height: 220px;
  width: 400px;
}
#cardLogo {
  position: absolute;
  z-index: 1000;
  top: 130px;
  left: 321px;
}
#cardBack {
  position: absolute;
  top: 360px;
  left: 400px;
  height: 220px;
  width: 400px;
}
.shadow_box_front {
  position: absolute;
  left: 305px;
  top: 134px;
  height: 184px;
  width: 393px;
  box-shadow: 0 30px 40px rgb(223 223 228);
  z-index: -1;
}
.shadow_box_back {
  position: absolute;
  top: 401px;
  left: 410px;
  height: 164px;
  width: 388px;
  box-shadow: 0 30px 40px rgb(223 223 228);
  z-index: -1;
}
.card_data {
  color: white;
  position: absolute;
  left: 327px;
  top: 230px;
  height: 100px;
  width: 393px;
  z-index: 10000;
}

#cardNum {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
}

#cardName {
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  top: 60px;
  letter-spacing: 1px;
}

#cardExpDate {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 60px;
  right: 50px;
  letter-spacing: 1px;
}

.card_cvc {
  color: white;
  position: absolute;
  top: 460px;
  left: 708px;
  z-index: 10000;
}

#cardCvc {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}

.left_div img {
  height: 100%;
  width: auto;
}
.right_div {
  width: 56%;
  height: 100%;
  display: flex;
}
.right_div form {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.date_cvc_label {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.date_label {
  display: flex;
  flex-direction: column;
}
.cvc_label {
  display: flex;
  flex-direction: column;
  width: 52%;
}

input {
  border: solid 1px hsl(270, 3%, 87%);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15px;
}

/* input[type="text"]:focus {
  outline: none;
  border: 2px solid transparent;
  background: linear-gradient(to right, white, white),
    linear-gradient(to left, hsl(278, 94%, 30%), hsl(249, 99%, 64%));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
} */

::placeholder {
  color: hsl(270, 3%, 87%);
}

label {
  color: hsl(279, 6%, 55%);
  margin-bottom: 5px;
  font-size: 13px;
}
.date_label input {
  width: 70px;
  margin-right: 5px;
}
#confirmBtn,
#continueBtn {
  color: white;
  background-color: hsl(278, 68%, 11%);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0 30px 0;
  font-size: 15px;
}

#continueBtn {
  padding: 10px 150px 10px 150px;
}

#confirmBtn:disabled {
  background-color: hsl(278, 27%, 72%);
}

.thank_you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#complete {
  margin: 20px;
}

.thank_you p {
  color: hsl(279, 6%, 55%);
  margin: 10px;
}
.thank_you h2 {
  color: hsl(278, 68%, 11%);
  font-size: 25px;
  letter-spacing: 6px;
}

.error {
  color: hsl(0, 100%, 66%);
  font-size: 10px;
  margin-bottom: 20px;
}
